.idea/
.vscode/
*.iml
*.sublime-workspace

node_modules/
**/node_modules/
.pnpm-store/
pnpm-lock.yaml
/.pnp*

dist/
build/
**/dist/
**/build/

.turbo/
.next/
/.cache/
/.parcel-cache
/.eslintcache
/.vite

.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

coverage/
*.log
*.tsbuildinfo
*.tgz
*.local

.DS_Store
Thumbs.db